@model P02_2_ASP.NET_Core_MVC_M01_ClaudiaSouza.Models.Modality

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Modality</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModalityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModalityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModalityPackage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModalityPackage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ModalityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
