@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <section>
        <article>
            <img Id="ibody" src="~/Images/RSGymPT_logo02.jpeg" />
        </article>
    </section>
</div>
