@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <section>
        <article>
            <h4>New Client</h4><br />
            <a href="/Client/Create">
                <img id="ibody" src="~/Images/RSGymPT_newclient02.png" alt="RSGymPT Logo" />
            </a>
        </article>
        <article>
            <h4>New Contract</h4><br />
            <a href="/Contract/Create">
                <img id="ibody" src="~/Images/RSGymPT_newcontract02.png" alt="RSGymPT Logo" />
            </a>
        </article>
        <article>
            <h4>New Payment</h4><br />
            <a href="/Payment/Create">
                <img id="ibody" src="~/Images/RSGymPT_newpayment02.png" alt="RSGymPT Logo" />
            </a>
        </article>
    </section>
</div>


