html {
  font-size: 14px;
}

@media (max-width: 600px) {
    section {
        flex-direction: column; 
        align-items: center; 
    }
    #ibody {
        width: 80%; 
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
    wIdth:100px;
    height: 100px;
    padding-left: 10px;
}

section {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
}

article {
    margin: 10px;
}

#ibody {
    cursor: pointer; 
    transition: transform 0.1s; 
    width: 400px;
    height: 600px;
}

    #ibody:hover {
        transform: scale(1.05); 
    }
