html {
  font-size: 14px;
}

@media (min-wIdth: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
    wIdth:100px;
    height: 100px;
}

#ibody {
    wIdth: 500px;
    height: 500px;
}